# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Code\summer2021\piflow-web\piflow-web\.idea
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
